### Connecting to the European Soccer Database

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import datetime

try:
    sqliteConnection = sqlite3.connect('database.sqlite')
    #cursor = sqliteConnection.cursor()
    print("Database created and Successfully Connected to SQLite")
except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)

Database created and Successfully Connected to SQLite

### Populating the 7 tables in the database to 7 Pandas Dataframes

In [62]:
country_query = "SELECT * from Country"
country_df = pd.read_sql_query(country_query, sqliteConnection)

league_query = "SELECT * from League"
league_df = pd.read_sql_query(league_query, sqliteConnection)

match_query = "SELECT * from Match"
match_df = pd.read_sql_query(match_query, sqliteConnection)

player_query = "SELECT * from Player"
player_df = pd.read_sql_query(player_query, sqliteConnection)

playerAttributes_query = "SELECT * from Player_Attributes"
playerAttributes_df = pd.read_sql_query(playerAttributes_query, sqliteConnection)

team_query = "SELECT * from Team"
team_df = pd.read_sql_query(team_query, sqliteConnection)

teamAttributes_query = "SELECT * from Team_Attributes"
teamAttributes_df = pd.read_sql_query(teamAttributes_query, sqliteConnection)

### Cleaning the Country Dataframe

In [3]:
del country_df['id']
country_df.insert(0, 'Country_id', range(1, len(country_df)+1))
country_df = country_df.rename(columns={"name": "Country_Name"})
country_df

    Country_id Country_Name
0            1      Belgium
1            2      England
2            3       France
3            4      Germany
4            5        Italy
5            6  Netherlands
6            7       Poland
7            8     Portugal
8            9     Scotland
9           10        Spain
10          11  Switzerland

### Cleaning the League Dataframe

In [4]:
del league_df['id']
del league_df['country_id']
league_df.insert(0, 'League_id', range(1, len(league_df)+1))
league_df = league_df.rename(columns={"name": "League_Name"})
league_df

    League_id               League_Name
0           1    Belgium Jupiler League
1           2    England Premier League
2           3            France Ligue 1
3           4     Germany 1. Bundesliga
4           5             Italy Serie A
5           6    Netherlands Eredivisie
6           7        Poland Ekstraklasa
7           8  Portugal Liga ZON Sagres
8           9   Scotland Premier League
9          10           Spain LIGA BBVA
10         11  Switzerland Super League

### Cleaning the Match Dataframe

In [63]:
match_df = match_df.rename(columns={"id": "Match_id"})

#Replacing the old country_id values with the Country_Name values for better readability
match_df['country_id'] = match_df['country_id'].replace(1,'Belgium')
match_df['country_id'] = match_df['country_id'].replace(1729,'England')
match_df['country_id'] = match_df['country_id'].replace(4769,'France')
match_df['country_id'] = match_df['country_id'].replace(7809,'Germany')
match_df['country_id'] = match_df['country_id'].replace(10257,'Italy')
match_df['country_id'] = match_df['country_id'].replace(13274,'Netherlands')
match_df['country_id'] = match_df['country_id'].replace(15722,'Poland')
match_df['country_id'] = match_df['country_id'].replace(17642,'Portugal')
match_df['country_id'] = match_df['country_id'].replace(19694,'Scotland')
match_df['country_id'] = match_df['country_id'].replace(21518,'Spain')
match_df['country_id'] = match_df['country_id'].replace(24558,'Switzerland')
match_df = match_df.rename(columns={"country_id": "Country_Name"})

#Replacing the old league_id values with the League_Name values for better readability
match_df['league_id'] = match_df['league_id'].replace(1,'Belgium Jupiler League')
match_df['league_id'] = match_df['league_id'].replace(1729,'England Premier League')
match_df['league_id'] = match_df['league_id'].replace(4769,'France Ligue 1')
match_df['league_id'] = match_df['league_id'].replace(7809,'Germany 1. Bundesliga')
match_df['league_id'] = match_df['league_id'].replace(10257,'Italy Serie A')
match_df['league_id'] = match_df['league_id'].replace(13274,'Netherlands Eredivisie')
match_df['league_id'] = match_df['league_id'].replace(15722,'Poland Ekstraklasa')
match_df['league_id'] = match_df['league_id'].replace(17642,'Portugal Liga ZON Sagres')
match_df['league_id'] = match_df['league_id'].replace(19694,'Scotland Premier League')
match_df['league_id'] = match_df['league_id'].replace(21518,'Spain LIGA BBVA')
match_df['league_id'] = match_df['league_id'].replace(24558,'Switzerland Super League')
match_df = match_df.rename(columns={"league_id": "League_Name"})
match_df['date'] = pd.to_datetime(match_df['date'], format='%Y/%m/%d %H:%M:%S')
match_df.head()

,Match_id,Country_Name,League_Name,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,Belgium,Belgium Jupiler League,2008/2009,1,2008-08-17,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,Belgium,Belgium Jupiler League,2008/2009,1,2008-08-16,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,Belgium,Belgium Jupiler League,2008/2009,1,2008-08-16,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,Belgium,Belgium Jupiler League,2008/2009,1,2008-08-17,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,Belgium,Belgium Jupiler League,2008/2009,1,2008-08-16,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

### Cleaning the Player Dataframe

In [6]:
missing_values_count_player = player_df.isnull().sum()
print(missing_values_count_player)
duplicateRowsPlayerDF = player_df[player_df.duplicated(['player_api_id', 'player_fifa_api_id'])]
print('Number of duplicates: ' + str(duplicateRowsPlayerDF.shape[0]))
del player_df['id']
player_df.insert(0, 'id', range(1, len(player_df)+1))
player_df

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64
Number of duplicates: 0

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170
10,11,23889,Aaron Mokoena,47189,1980-11-25 00:00:00,182.88,181
11,12,231592,Aaron Mooy,194958,1990-09-15 00:00:00,175.26,150
12,13,163222,Aaron Muirhead,213568,1990-08-30 00:00:00,187.96,168
13,14,40719,Aaron Niguez,183853,1989-04-26 00:00:00,170.18,143
14,15,75489,Aaron Ramsey,186561,1990-12-26 00:00:00,177.80,154
15,16,597948,Aaron Splaine,226014,1996-10-13 00:00:00,172.72,163
16,17,161644,Aaron Taylor-Sinclair,213569,1991-04-08 00:00:00,182.88,176
17,18,23499,Aaron Wilbraham,2335,1979-10-21 00:00:00,190.50,159
18,19,120919,Aatif Chahechouhe,187939,1986-07-02 00:00:00,175.26,150
19,20,46447,Abasse Ba,156626,1976-07-12 00:00:00,187.96,185
20,21,167027,Abdelaziz Barrada,192274,1989-06-19 00:00:00,177.80,161
21,22,245653,Abdelfettah Boukhriss,202425,1986-10-22 00:00:00,185.42,161
22,23,128456,Abdelhamid El Kaoutari,188145,1990-03-17 00:00:00,180.34,161
23,24,42664,Abdelkader Ghezzal,178063,1984-12-05 00:00:00,182.88,172
24,25,425950,Abdellah Zoubir,212934,1991-12-05 00:00:00,180.34,161
25,26,38423,Abdelmajid Oulmers,52782,1978-09-12 00:00:00,172.72,143
26,27,3264,Abdelmalek Cherrad,51868,1981-01-14 00:00:00,185.42,165
27,28,467485,Abdelmalek El Hasnaoui,209399,1994-02-09 00:00:00,180.34,159
28,29,306735,Abdelouahed Chakhsi,210504,1986-10-01 00:00:00,182.88,170
29,30,41659,Abderrazak Jadid,149241,1983-06-01 00:00:00,177.80,157
...,...,...,...,...,...,...,...
11030,11031,244155,Zezinho,212639,1992-09-23 00:00:00,175.26,161
11031,11032,19696,Zhi Zheng,158293,1980-08-20 00:00:00,180.34,165
11032,11033,290868,Zhi-Gin Lam,206209,1991-06-04 00:00:00,175.26,146
11033,11034,169594,Zie Diabate,207780,1989-03-02 00:00:00,177.80,143
11034,11035,244953,Ziggy Gordon,223263,1993-04-23 00:00:00,180.34,170
11035,11036,200607,Ziguy Badibanga,195862,1991-11-26 00:00:00,172.72,154
11036,11037,642618,Zinedine Machach,228821,1996-01-05 00:00:00,185.42,163
11037,11038,277772,Zinho Gano,204227,1993-10-13 00:00:00,198.12,205
11038,11039,246332,Ziri Hammar,202751,1992-07-25 00:00:00,180.34,163
11039,11040,532766,Zizo,222537,1996-01-10 00:00:00,175.26,148
11040,11041,27305,Zlatan Bajramovic,31667,1979-08-12 00:00:00,182.88,174
11041,11042,35724,Zlatan Ibrahimovic,41236,1981-10-03 00:00:00,195.58,209
11042,11043,12574,Zlatan Ljubijankic,176103,1983-12-15 00:00:00,185.42,176
11043,11044,39494,Zlatko Dedic,141111,1984-10-05 00:00:00,182.88,170
11044,11045,17233,Zlatko Janjic,188405,1986-05-07 00:00:00,187.96,183
11045,11046,42860,Zlatko Junuzovic,173474,1987-09-26 00:00:00,172.72,152
11046,11047,37128,Zola Matumona,158142,1981-11-26 00:00:00,165.10,143
11047,11048,24737,Zoltan Gera,137089,1979-04-22 00:00:00,182.88,165
11048,11049,107281,Zoltan Stieber,179712,1988-10-16 00:00:00,175.26,148
11049,11050,39801,Zoltan Szelesi,157283,1981-11-22 00:00:00,182.88,176
11050,11051,491794,Zoran Josipovic,219943,1995-08-25 00:00:00,187.96,165
11051,11052,56929,Zoran Rendulic,188593,1984-05-22 00:00:00,190.50,179
11052,11053,99031,Zoran Tosic,105454,1987-04-28 00:00:00,170.18,157
11053,11054,192132,Zouhaier Dhaouadhi,195840,1988-01-01 00:00:00,180.34,159
11054,11055,282473,Zouhair Feddal,205705,1989-01-01 00:00:00,190.50,172
11055,11056,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11057,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11058,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11059,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11060,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

### Cleaning the Player Attributes Dataframe

In [7]:
playerAttributes_df.head(10)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
5,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
6,7,189615,155782,2016-04-07 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
7,8,189615,155782,2016-01-07 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
8,9,189615,155782,2015-12-24 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
9,10,189615,155782,2015-12-17 00:00:00,73.0,75.0,left,high,medium,79.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0

In [8]:
print('The number of rows before removing duplicates: ' + str(playerAttributes_df.shape[0]))
duplicateRowsPlayerAttributesDF = playerAttributes_df[playerAttributes_df.duplicated(['player_fifa_api_id', 'player_api_id'])]
duplicatePercentage = (duplicateRowsPlayerAttributesDF.shape[0]/playerAttributes_df.shape[0]) * 100
print('The percentage of duplicated rows: ' + str(duplicatePercentage))

The number of rows before removing duplicates: 183978
The percentage of duplicated rows: 93.98351976866799

In [9]:
playerAttributes_df_1 = playerAttributes_df.sort_values('date').drop_duplicates(['player_fifa_api_id', 'player_api_id'],keep='last')
playerAttributes_df_1 = playerAttributes_df_1.sort_values('id')
print('The number of rows after removing duplicates: ' + str(playerAttributes_df_1.shape[0]))
percentageLeft = (playerAttributes_df_1.shape[0]/playerAttributes_df.shape[0]) * 100
print('The percentage of rows left: ' + str(percentageLeft))
playerAttributes_df_1.head(10)

The number of rows after removing duplicates: 11069
The percentage of rows left: 6.0164802313320065

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
5,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
38,39,186170,162549,2016-01-07 00:00:00,65.0,67.0,right,medium,medium,64.0,...,68.0,61.0,23.0,22.0,24.0,16.0,11.0,12.0,9.0,13.0
64,65,140161,30572,2016-04-21 00:00:00,69.0,69.0,right,medium,medium,57.0,...,54.0,37.0,72.0,71.0,68.0,15.0,12.0,13.0,12.0,11.0
87,88,17725,23780,2015-12-24 00:00:00,70.0,70.0,right,medium,medium,46.0,...,41.0,45.0,75.0,73.0,71.0,8.0,6.0,16.0,12.0,11.0
112,113,158138,27316,2016-04-28 00:00:00,77.0,77.0,left,medium,medium,77.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
139,140,221280,564793,2016-04-21 00:00:00,61.0,74.0,right,medium,high,48.0,...,61.0,42.0,52.0,58.0,57.0,8.0,13.0,14.0,14.0,15.0
146,147,152747,30895,2015-10-16 00:00:00,77.0,77.0,right,high,medium,78.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
172,173,206592,528212,2016-02-25 00:00:00,48.0,56.0,right,medium,medium,12.0,...,15.0,41.0,15.0,15.0,12.0,53.0,41.0,39.0,51.0,53.0
179,180,188621,101042,2015-12-03 00:00:00,69.0,69.0,left,medium,medium,63.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0

In [10]:
# get the number of missing values per column
missing_values_count_playerAttributes = playerAttributes_df_1.isnull().sum()

print(missing_values_count_playerAttributes)

total_cells_playerAttributes = np.product(playerAttributes_df_1.shape) 
total_missing_playerAttributes = missing_values_count_playerAttributes.sum()

# percentage of data that is missing
percentage_missign_values_playerAttributes = (total_missing_playerAttributes/total_cells_playerAttributes) * 100
print('Percentage of missing values: '+ str(percentage_missign_values_playerAttributes))

id                       0
player_fifa_api_id       0
player_api_id            0
date                     0
overall_rating           4
potential                4
preferred_foot           4
attacking_work_rate    544
defensive_work_rate      4
crossing                 4
finishing                4
heading_accuracy         4
short_passing            4
volleys                482
dribbling                4
curve                  482
free_kick_accuracy       4
long_passing             4
ball_control             4
acceleration             4
sprint_speed             4
agility                482
reactions                4
balance                482
shot_power               4
jumping                482
stamina                  4
strength                 4
long_shots               4
aggression               4
interceptions            4
positioning              4
vision                 482
penalties                4
marking                  4
standing_tackle          4
sliding_tackle         482
gk_diving                4
gk_handling              4
gk_kicking               4
gk_positioning           4
gk_reflexes              4
dtype: int64
Percentage of missing values: 0.8685776234786986

In [11]:
rows_with_missing_values = playerAttributes_df_1[playerAttributes_df_1.isna().any(axis=1)]
print('Percentage of rows with missing values: '+ str((rows_with_missing_values.shape[0]/playerAttributes_df_1.shape[0])*100))

Percentage of rows with missing values: 5.908392808745145

In [12]:
# merge with player_df to search on the internet for missing values with player names
df2 = pd.merge(player_df,playerAttributes_df_1,on=['player_api_id','player_fifa_api_id'])
# sort and get the percentage of old players having NaNs
rows_with_null_sorted = df2[df2.isna().any(axis=1)].sort_values('birthday')
end_date = pd.Timestamp(datetime.date(1980,1,1))
rows_with_null_sorted['birthday'] = pd.to_datetime(rows_with_null_sorted['birthday'])
mask = rows_with_null_sorted['birthday'] <= end_date
old_players = rows_with_null_sorted.loc[mask]
old_players

,id_x,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id_y,date,overall_rating,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
289,290,39425,Alberto Fontana,2431,1967-01-23,185.42,161,4840,2009-02-22 00:00:00,77.0,...,NaN,58.0,24.0,27.0,NaN,76.0,79.0,75.0,77.0,77.0
8284,8285,26099,Paolo Maldini,1109,1968-06-26,185.42,187,138695,2009-02-22 00:00:00,77.0,...,NaN,90.0,85.0,82.0,NaN,5.0,21.0,70.0,21.0,21.0
6238,6239,27666,Luca Bucci,12514,1969-03-13,180.34,174,103754,2009-02-22 00:00:00,63.0,...,NaN,33.0,47.0,39.0,NaN,58.0,66.0,69.0,67.0,66.0
2492,2493,23605,Dean Windass,50474,1969-04-01,177.80,183,41818,2010-02-22 00:00:00,66.0,...,NaN,70.0,44.0,38.0,NaN,8.0,20.0,61.0,20.0,20.0
7389,7390,27346,Michael Tarnat,722,1969-10-27,185.42,192,123819,2008-08-30 00:00:00,73.0,...,NaN,87.0,78.0,77.0,NaN,28.0,36.0,80.0,31.0,32.0
4827,4828,30648,Jens Lehmann,805,1969-11-10,190.50,192,80260,2010-02-22 00:00:00,79.0,...,NaN,74.0,21.0,21.0,NaN,77.0,82.0,75.0,88.0,76.0
4122,4123,26003,Hans Vonk,7947,1970-01-30,195.58,183,68729,2009-02-22 00:00:00,69.0,...,NaN,31.0,31.0,22.0,NaN,68.0,69.0,64.0,73.0,70.0
887,888,41881,Antonio Chimenti,4739,1970-06-30,182.88,183,15415,2010-02-22 00:00:00,70.0,...,NaN,50.0,28.0,28.0,NaN,68.0,69.0,70.0,75.0,70.0
3116,3117,27661,Eugenio Corini,5244,1970-07-30,172.72,148,52029,2009-02-22 00:00:00,72.0,...,NaN,70.0,44.0,69.0,NaN,6.0,22.0,73.0,22.0,22.0
8512,8513,11716,Pedro Roma,20490,1970-08-13,185.42,183,142017,2009-02-22 00:00:00,70.0,...,NaN,42.0,23.0,36.0,NaN,70.0,69.0,66.0,66.0,71.0
10475,10476,23913,Tugay Kerimoglou,5739,1970-08-24,175.26,161,174897,2009-02-22 00:00:00,71.0,...,NaN,83.0,59.0,65.0,NaN,5.0,22.0,89.0,22.0,22.0
1727,1728,23729,Chris Swailes,53469,1970-10-19,187.96,179,28780,2008-08-30 00:00:00,60.0,...,NaN,68.0,61.0,57.0,NaN,14.0,21.0,34.0,21.0,21.0
7890,7891,38349,Nico van Kerckhoven,766,1970-12-14,190.50,183,132089,2009-08-30 00:00:00,65.0,...,NaN,78.0,60.0,69.0,NaN,9.0,21.0,65.0,21.0,21.0
6033,6034,23249,"Lee Bullen,29",17881,1971-03-29,185.42,168,100094,2010-02-22 00:00:00,59.0,...,NaN,56.0,61.0,62.0,NaN,6.0,20.0,54.0,20.0,20.0
4008,4009,26190,Gregory Wimbee,5112,1971-08-19,193.04,194,66968,2011-02-22 00:00:00,71.0,...,31.0,10.0,12.0,12.0,11.0,70.0,73.0,70.0,75.0,67.0
3714,3715,31226,Geert De Vlieger,15725,1971-10-16,185.42,179,62089,2011-02-22 00:00:00,65.0,...,36.0,39.0,15.0,19.0,11.0,62.0,67.0,65.0,75.0,60.0
6979,6980,26663,Martin Pieckenhagen,5460,1971-11-15,185.42,190,116463,2011-02-22 00:00:00,70.0,...,41.0,19.0,14.0,22.0,16.0,71.0,68.0,69.0,66.0,73.0
3477,3478,30281,Francesco Toldo,4459,1971-12-02,195.58,198,58151,2010-02-22 00:00:00,76.0,...,NaN,74.0,21.0,21.0,NaN,78.0,77.0,75.0,77.0,75.0
4194,4195,34489,Henk Timmer,8048,1971-12-03,187.96,172,69853,2009-02-22 00:00:00,70.0,...,NaN,78.0,22.0,22.0,NaN,70.0,74.0,76.0,66.0,74.0
3887,3888,32752,Giuseppe Favalli,1085,1972-01-08,180.34,170,64969,2010-02-22 00:00:00,75.0,...,NaN,78.0,82.0,78.0,NaN,9.0,21.0,70.0,21.0,21.0
9884,9885,26669,"Stefaan Tanghe,18",15716,1972-01-15,175.26,150,164841,2010-02-22 00:00:00,65.0,...,NaN,71.0,37.0,42.0,NaN,9.0,20.0,65.0,20.0,20.0
2597,2598,42812,Didier Dheedene,6190,1972-01-22,182.88,176,43395,2009-02-22 00:00:00,62.0,...,NaN,78.0,57.0,64.0,NaN,14.0,22.0,65.0,22.0,22.0
1110,1111,32665,Barry Wilson,14180,1972-02-16,180.34,170,19130,2009-02-22 00:00:00,60.0,...,NaN,61.0,25.0,26.0,NaN,9.0,23.0,57.0,23.0,23.0
1803,1804,41186,Christophe Revault,117254,1972-03-22,185.42,194,30167,2010-02-22 00:00:00,66.0,...,NaN,62.0,22.0,22.0,NaN,66.0,62.0,65.0,66.0,72.0
8342,8343,26528,Patrick Pothuizen,15982,1972-05-15,185.42,196,139623,2010-02-22 00:00:00,65.0,...,NaN,67.0,68.0,63.0,NaN,9.0,20.0,65.0,20.0,20.0
7245,7246,41302,Maxence Flachez,1565,1972-08-05,180.34,170,121163,2008-08-30 00:00:00,65.0,...,NaN,56.0,66.0,73.0,NaN,7.0,21.0,37.0,21.0,21.0
8445,8446,30725,Pavel Nedved,6235,1972-08-30,177.80,154,141110,2009-02-22 00:00:00,80.0,...,NaN,84.0,58.0,74.0,NaN,11.0,22.0,79.0,22.0,22.0
8123,8124,26304,Olivier Echouafni,5965,1972-09-13,182.88,157,135944,2010-02-22 00:00:00,70.0,...,NaN,71.0,64.0,70.0,NaN,8.0,22.0,71.0,22.0,22.0
6345,6346,30696,Luis Figo,5589,1972-11-04,180.34,165,105604,2009-02-22 00:00:00,78.0,...,NaN,82.0,27.0,41.0,NaN,6.0,22.0,76.0,22.0,22.0
4882,4883,26313,Jerome Alonzo,45352,1972-11-20,185.42,183,81105,2010-02-22 00:00:00,64.0,...,NaN,54.0,25.0,25.0,NaN,67.0,57.0,61.0,59.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4263,4264,22126,Hugo Carreira,159421,1979-03-10,187.96,176,70998,2009-02-22 00:00:00,67.0,...,NaN,64.0,67.0,67.0,NaN,5.0,20.0,60.0,20.0,20.0
7599,7600,41341,Mirko Savini,137188,1979-03-11,182.88,172,127155,2011-02-22 00:00:00,72.0,...,74.0,50.0,76.0,75.0,68.0,8.0,13.0,7.0,13.0,15.0
3313,3314,11827,Fernando Cardozo,135570,1979-03-17,185.42,163,55518,2010-08-30 00:00:00,68.0,...,63.0,52.0,67.0,68.0,65.0,14.0,13.0,7.0,7.0,9.0
2445,2446,41811,Davide Carrus,137499,1979-03-19,170.18,152,41044,2009-08-30 00:00:00,63.0,...,NaN,62.0,59.0,60.0,NaN,9.0,22.0,65.0,22.0,22.0
10529,10530,134318,Valdas Trakys,137554,1979-03-20,190.50,174,175682,2011-02-22 00:00:00,63.0,...,49.0,58.0,11.0,12.0,11.0,13.0,8.0,11.0,12.0,7.0
7745,7746,148292,Mvuezolo Muscal Musumbu,180365,1979-03-30,175.26,161,129507,2008-08-30 00:00:00,54.0,...,NaN,53.0,26.0,32.0,NaN,7.0,20.0,52.0,20.0,20.0
2231,2232,32703,Danny Invincibile,19077,1979-03-31,182.88,179,37446,2010-08-30 00:00:00,62.0,...,52.0,17.0,17.0,16.0,11.0,9.0,14.0,9.0,6.0,11.0
5791,5792,26602,Kevin van Dessel,51550,1979-04-09,180.34,154,96239,2010-02-22 00:00:00,63.0,...,NaN,68.0,52.0,51.0,NaN,12.0,20.0,65.0,20.0,20.0
4039,4040,32621,Guillaume Beuzelin,40899,1979-04-14,182.88,168,67455,2008-08-30 00:00:00,64.0,...,NaN,67.0,39.0,63.0,NaN,16.0,24.0,64.0,24.0,24.0
8831,8832,150318,Reguila,189768,1979-04-18,180.34,176,147456,2008-08-30 00:00:00,59.0,...,NaN,44.0,22.0,22.0,NaN,2.0,22.0,48.0,22.0,22.0
11057,11058,36491,Zsolt Low,111191,1979-04-29,180.34,154,183954,2011-02-22 00:00:00,68.0,...,66.0,61.0,67.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
3569,3570,39594,Frederic Dupre,152018,1979-05-12,182.88,172,59685,2010-02-22 00:00:00,64.0,...,NaN,66.0,62.0,64.0,NaN,11.0,25.0,56.0,25.0,25.0
6466,6467,37945,Mahamadou Dissa,116812,1979-05-18,172.72,150,107707,2010-02-22 00:00:00,63.0,...,NaN,60.0,25.0,23.0,NaN,1.0,22.0,48.0,22.0,22.0
5745,5746,30596,Kevin Hofland,18422,1979-06-07,185.42,172,95535,2010-02-22 00:00:00,69.0,...,NaN,65.0,68.0,66.0,NaN,7.0,20.0,49.0,20.0,20.0
7228,7229,32750,Mauro Esposito,137486,1979-06-13,172.72,157,120859,2010-02-22 00:00:00,73.0,...,NaN,73.0,34.0,40.0,NaN,17.0,22.0,69.0,22.0,22.0
8840,8841,26655,Remon de Vries,148842,1979-07-06,175.26,157,147574,2008-08-30 00:00:00,63.0,...,NaN,65.0,45.0,43.0,NaN,11.0,24.0,68.0,24.0,24.0
2105,2106,67940,Daniel Calvo,158258,1979-07-11,175.26,148,35065,2008-08-30 00:00:00,60.0,...,NaN,61.0,47.0,53.0,NaN,9.0,20.0,62.0,20.0,20.0
1331,1332,38212,Boubacar Diarra,7280,1979-07-15,185.42,190,22540,2010-02-22 00:00:00,64.0,...,NaN,44.0,58.0,65.0,NaN,8.0,22.0,48.0,22.0,22.0
7835,7836,37321,Nemanja Vucicevic,147477,1979-08-12,180.34,161,131153,2008-08-30 00:00:00,70.0,...,NaN,59.0,24.0,24.0,NaN,7.0,24.0,57.0,24.0,24.0
2212,2213,185909,Danilo,199753,1979-08-13,172.72,148,37100,2010-08-30 00:00:00,65.0,...,69.0,60.0,65.0,62.0,60.0,5.0,12.0,13.0,9.0,8.0
9665,9666,25823,Sergio Bastida,17394,1979-09-03,172.72,154,160953,2010-02-22 00:00:00,64.0,...,NaN,57.0,46.0,55.0,NaN,14.0,20.0,69.0,20.0,20.0
2750,2751,26568,Dominique van Dijk,148859,1979-09-05,182.88,165,45987,2008-08-30 00:00:00,63.0,...,NaN,37.0,29.0,57.0,NaN,12.0,24.0,58.0,24.0,24.0
8485,8486,32546,"Pedro da Silva Moutinho,28",161973,1979-09-09,180.34,176,141648,2010-02-22 00:00:00,61.0,...,NaN,54.0,21.0,21.0,NaN,7.0,21.0,47.0,21.0,21.0
270,271,121488,Alban Joinel,188382,1979-09-14,187.96,181,4496,2010-08-30 00:00:00,58.0,...,32.0,21.0,7.0,8.0,5.0,60.0,48.0,65.0,56.0,67.0
5534,5535,38863,"Junichi Inamoto,20",48722,1979-09-18,180.34,165,92120,2010-02-22 00:00:00,72.0,...,NaN,79.0,68.0,68.0,NaN,6.0,20.0,77.0,20.0,20.0
885,886,25837,Antonio Carlos Dos Santos,15754,1979-10-03,187.96,150,15373,2010-02-22 00:00:00,70.0,...,NaN,75.0,66.0,62.0,NaN,5.0,20.0,72.0,20.0,20.0
6398,6399,30404,Lukas Zelenka,45456,1979-10-05,175.26,159,106488,2010-02-22 00:00:00,68.0,...,NaN,72.0,31.0,47.0,NaN,5.0,25.0,64.0,25.0,25.0
4023,4024,5184,Gudmundur Steinarsson,103288,1979-10-20,180.34,170,67178,2009-02-22 00:00:00,62.0,...,NaN,42.0,20.0,20.0,NaN,8.0,20.0,40.0,20.0,20.0
4653,4654,22732,Janicio Martins,171790,1979-11-30,180.34,157,77472,2008-08-30 00:00:00,69.0,...,NaN,67.0,72.0,75.0,NaN,9.0,23.0,56.0,23.0,23.0
5359,5360,150085,Jose Semedo,189521,1979-12-26,170.18,146,89101,2009-02-22 00:00:00,57.0,...,NaN,48.0,22.0,22.0,NaN,6.0,22.0,50.0,22.0,22.0

In [13]:
rows_with_missing_values_old_players = old_players[old_players.isna().any(axis=1)]
print('Percentage of rows of old players with missing values: '+ str((rows_with_missing_values_old_players.shape[0]/playerAttributes_df_1.shape[0])*100))

Percentage of rows of old players with missing values: 2.7915800885355497

In [14]:
playerAttributes_df_1 = playerAttributes_df_1.dropna()
playerAttributes_df_1

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
5,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
38,39,186170,162549,2016-01-07 00:00:00,65.0,67.0,right,medium,medium,64.0,...,68.0,61.0,23.0,22.0,24.0,16.0,11.0,12.0,9.0,13.0
64,65,140161,30572,2016-04-21 00:00:00,69.0,69.0,right,medium,medium,57.0,...,54.0,37.0,72.0,71.0,68.0,15.0,12.0,13.0,12.0,11.0
87,88,17725,23780,2015-12-24 00:00:00,70.0,70.0,right,medium,medium,46.0,...,41.0,45.0,75.0,73.0,71.0,8.0,6.0,16.0,12.0,11.0
112,113,158138,27316,2016-04-28 00:00:00,77.0,77.0,left,medium,medium,77.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
139,140,221280,564793,2016-04-21 00:00:00,61.0,74.0,right,medium,high,48.0,...,61.0,42.0,52.0,58.0,57.0,8.0,13.0,14.0,14.0,15.0
146,147,152747,30895,2015-10-16 00:00:00,77.0,77.0,right,high,medium,78.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
172,173,206592,528212,2016-02-25 00:00:00,48.0,56.0,right,medium,medium,12.0,...,15.0,41.0,15.0,15.0,12.0,53.0,41.0,39.0,51.0,53.0
179,180,188621,101042,2015-12-03 00:00:00,69.0,69.0,left,medium,medium,63.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
198,199,47189,23889,2012-02-22 00:00:00,68.0,68.0,right,medium,high,26.0,...,53.0,34.0,67.0,73.0,72.0,7.0,5.0,13.0,13.0,13.0
206,207,194958,231592,2016-02-04 00:00:00,75.0,78.0,right,medium,medium,74.0,...,81.0,73.0,56.0,65.0,62.0,11.0,8.0,12.0,11.0,12.0
234,235,213568,163222,2014-09-18 00:00:00,62.0,70.0,right,medium,high,48.0,...,31.0,74.0,59.0,61.0,54.0,8.0,11.0,6.0,6.0,7.0
242,243,183853,40719,2016-04-28 00:00:00,70.0,71.0,left,medium,medium,64.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
269,270,186561,75489,2016-03-10 00:00:00,82.0,85.0,right,high,high,75.0,...,81.0,75.0,62.0,74.0,68.0,6.0,11.0,5.0,10.0,8.0
309,310,226014,597948,2016-04-14 00:00:00,55.0,63.0,left,medium,medium,55.0,...,55.0,55.0,43.0,47.0,45.0,11.0,13.0,8.0,14.0,9.0
317,318,213569,161644,2016-04-28 00:00:00,64.0,68.0,left,high,medium,62.0,...,50.0,40.0,53.0,64.0,64.0,9.0,11.0,12.0,8.0,9.0
335,336,2335,23499,2016-04-21 00:00:00,65.0,65.0,right,medium,medium,49.0,...,68.0,73.0,23.0,20.0,19.0,12.0,13.0,10.0,10.0,9.0
357,358,187939,120919,2016-05-12 00:00:00,75.0,75.0,right,high,medium,70.0,...,70.0,85.0,26.0,27.0,24.0,7.0,10.0,8.0,15.0,10.0
378,379,192274,167027,2016-06-23 00:00:00,74.0,75.0,right,medium,medium,74.0,...,74.0,71.0,35.0,42.0,33.0,11.0,7.0,6.0,16.0,7.0
394,395,188145,128456,2016-03-17 00:00:00,73.0,75.0,left,medium,medium,65.0,...,52.0,32.0,75.0,76.0,77.0,9.0,11.0,10.0,8.0,9.0
415,416,178063,42664,2016-02-04 00:00:00,67.0,67.0,right,medium,medium,65.0,...,50.0,68.0,29.0,32.0,31.0,10.0,6.0,11.0,6.0,7.0
441,442,212934,425950,2014-07-18 00:00:00,59.0,69.0,right,medium,medium,49.0,...,46.0,58.0,36.0,32.0,30.0,7.0,14.0,14.0,13.0,14.0
456,457,209399,467485,2016-02-04 00:00:00,63.0,72.0,left,medium,medium,42.0,...,64.0,46.0,32.0,33.0,40.0,8.0,13.0,8.0,15.0,8.0
459,460,210504,306735,2014-03-21 00:00:00,56.0,62.0,right,high,medium,54.0,...,55.0,45.0,56.0,61.0,53.0,10.0,7.0,8.0,11.0,10.0
465,466,149241,41659,2015-09-25 00:00:00,63.0,63.0,right,medium,medium,57.0,...,67.0,57.0,47.0,39.0,37.0,8.0,15.0,16.0,9.0,11.0
490,491,225711,563215,2016-04-28 00:00:00,66.0,77.0,left,medium,medium,42.0,...,33.0,41.0,67.0,73.0,70.0,12.0,7.0,7.0,7.0,8.0
500,501,187048,41093,2016-04-21 00:00:00,70.0,70.0,right,medium,medium,62.0,...,72.0,48.0,63.0,64.0,61.0,8.0,14.0,15.0,11.0,9.0
525,526,225050,564712,2016-03-10 00:00:00,64.0,70.0,right,medium,medium,35.0,...,31.0,47.0,65.0,71.0,66.0,9.0,11.0,13.0,12.0,15.0
532,533,188232,67334,2016-01-21 00:00:00,72.0,73.0,left,medium,medium,67.0,...,64.0,53.0,42.0,47.0,43.0,12.0,15.0,14.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183539,183540,193482,164093,2015-10-30 00:00:00,70.0,70.0,right,None,0,66.0,...,65.0,69.0,29.0,38.0,39.0,12.0,12.0,9.0,16.0,8.0
183551,183552,190228,175259,2015-12-03 00:00:00,69.0,76.0,left,medium,medium,67.0,...,69.0,64.0,39.0,32.0,26.0,8.0,9.0,8.0,10.0,10.0
183561,183562,212639,244155,2013-03-28 00:00:00,69.0,82.0,right,medium,high,53.0,...,69.0,64.0,68.0,70.0,67.0,14.0,12.0,5.0,14.0,6.0
183564,183565,158293,19696,2015-09-21 00:00:00,70.0,70.0,right,high,high,70.0,...,78.0,68.0,69.0,67.0,60.0,13.0,16.0,6.0,10.0,14.0
183571,183572,206209,290868,2016-04-21 00:00:00,67.0,71.0,right,medium,medium,67.0,...,60.0,47.0,67.0,66.0,68.0,11.0,8.0,10.0,16.0,13.0
183589,183590,207780,169594,2016-02-11 00:00:00,65.0,66.0,left,high,medium,61.0,...,39.0,47.0,66.0,67.0,66.0,13.0,9.0,11.0,12.0,14.0
183607,183608,223263,244953,2016-05-05 00:00:00,64.0,69.0,right,medium,medium,59.0,...,39.0,42.0,63.0,66.0,65.0,6.0,11.0,15.0,10.0,9.0
183617,183618,195862,200607,2013-07-05 00:00:00,64.0,72.0,right,medium,low,61.0,...,49.0,52.0,24.0,21.0,23.0,10.0,7.0,7.0,12.0,14.0
183625,183626,228821,642618,2016-04-21 00:00:00,67.0,79.0,right,high,high,69.0,...,66.0,55.0,52.0,60.0,62.0,13.0,8.0,11.0,11.0,9.0
183634,183635,204227,277772,2016-04-28 00:00:00,67.0,73.0,left,medium,low,53.0,...,54.0,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0
183649,183650,202751,246332,2015-07-03 00:00:00,64.0,73.0,right,high,low,67.0,...,59.0,60.0,21.0,25.0,25.0,13.0,11.0,15.0,7.0,14.0
183660,183661,222537,532766,2015-02-20 00:00:00,63.0,75.0,right,medium,medium,41.0,...,65.0,53.0,54.0,55.0,39.0,12.0,5.0,7.0,11.0,8.0
183665,183666,31667,27305,2011-02-22 00:00:00,72.0,78.0,right,stoc,tocky,72.0,...,70.0,69.0,69.0,74.0,74.0,9.0,5.0,14.0,5.0,15.0
183672,183673,41236,35724,2015-09-21 00:00:00,89.0,89.0,right,medium,low,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
183693,183694,176103,12574,2016-02-04 00:00:00,72.0,72.0,right,high,medium,70.0,...,72.0,59.0,32.0,49.0,54.0,6.0,16.0,16.0,6.0,8.0
183713,183714,141111,39494,2016-04-14 00:00:00,67.0,67.0,right,None,7,59.0,...,63.0,70.0,29.0,32.0,30.0,16.0,15.0,9.0,16.0,9.0
183737,183738,188405,17233,2016-05-05 00:00:00,65.0,65.0,right,medium,low,67.0,...,60.0,76.0,19.0,26.0,18.0,11.0,14.0,11.0,7.0,16.0
183750,183751,173474,42860,2016-04-28 00:00:00,78.0,78.0,right,high,high,86.0,...,76.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
183789,183790,158142,37128,2014-03-14 00:00:00,67.0,67.0,left,medium,medium,67.0,...,65.0,67.0,31.0,32.0,31.0,11.0,11.0,13.0,5.0,10.0
183796,183797,137089,24737,2015-10-09 00:00:00,74.0,74.0,right,medium,high,82.0,...,75.0,74.0,36.0,49.0,69.0,14.0,12.0,12.0,7.0,9.0
183822,183823,179712,107281,2016-01-21 00:00:00,73.0,74.0,left,medium,medium,69.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
183849,183850,157283,39801,2015-03-20 00:00:00,65.0,65.0,right,medium,medium,59.0,...,48.0,51.0,68.0,66.0,63.0,13.0,13.0,6.0,13.0,12.0
183856,183857,219943,491794,2015-11-12 00:00:00,58.0,71.0,right,medium,medium,28.0,...,36.0,54.0,50.0,49.0,48.0,5.0,10.0,8.0,9.0,14.0
183867,183868,188593,56929,2012-08-31 00:00:00,66.0,72.0,left,low,medium,37.0,...,38.0,47.0,66.0,69.0,61.0,13.0,14.0,8.0,8.0,14.0
183872,183873,105454,99031,2016-05-05 00:00:00,79.0,79.0,left,high,medium,70.0,...,75.0,67.0,33.0,45.0,36.0,7.0,13.0,15.0,8.0,13.0
183895,183896,195840,192132,2016-01-21 00:00:00,64.0,64.0,left,medium,medium,65.0,...,35.0,76.0,39.0,26.0,24.0,16.0,10.0,12.0,8.0,8.0
183903,183904,205705,282473,2016-02-04 00:00:00,75.0,76.0,left,medium,medium,57.0,...,47.0,48.0,78.0,79.0,71.0,13.0,14.0,12.0,10.0,8.0
183924,183925,2488,26357,2015-03-06 00:00:00,73.0,73.0,right,low,medium,42.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0
183937,183938,164680,111182,2014-09-18 00:00:00,63.0,67.0,left,high,medium,65.0,...,49.0,53.0,57.0,61.0,61.0,9.0,8.0,5.0,5.0,8.0
183968,183969,102359,39902,2012-08-31 00:00:00,78.0,78.0,right,medium,low,77.0,...,82.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0

In [15]:
missing_values_count_playerAttributes = playerAttributes_df_1.isnull().sum()
print(missing_values_count_playerAttributes)

id                     0
player_fifa_api_id     0
player_api_id          0
date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
dtype: int64

In [16]:
playerAttributes_df_1 = playerAttributes_df_1.rename(columns={"date": "date_modified"})
del playerAttributes_df_1['id']
playerAttributes_df_1.insert(0, 'id', range(1, len(playerAttributes_df_1)+1))
playerAttributes_df_1

,id,player_fifa_api_id,player_api_id,date_modified,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
5,2,189615,155782,2016-04-21 00:00:00,74.0,76.0,left,high,medium,80.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
38,3,186170,162549,2016-01-07 00:00:00,65.0,67.0,right,medium,medium,64.0,...,68.0,61.0,23.0,22.0,24.0,16.0,11.0,12.0,9.0,13.0
64,4,140161,30572,2016-04-21 00:00:00,69.0,69.0,right,medium,medium,57.0,...,54.0,37.0,72.0,71.0,68.0,15.0,12.0,13.0,12.0,11.0
87,5,17725,23780,2015-12-24 00:00:00,70.0,70.0,right,medium,medium,46.0,...,41.0,45.0,75.0,73.0,71.0,8.0,6.0,16.0,12.0,11.0
112,6,158138,27316,2016-04-28 00:00:00,77.0,77.0,left,medium,medium,77.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
139,7,221280,564793,2016-04-21 00:00:00,61.0,74.0,right,medium,high,48.0,...,61.0,42.0,52.0,58.0,57.0,8.0,13.0,14.0,14.0,15.0
146,8,152747,30895,2015-10-16 00:00:00,77.0,77.0,right,high,medium,78.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
172,9,206592,528212,2016-02-25 00:00:00,48.0,56.0,right,medium,medium,12.0,...,15.0,41.0,15.0,15.0,12.0,53.0,41.0,39.0,51.0,53.0
179,10,188621,101042,2015-12-03 00:00:00,69.0,69.0,left,medium,medium,63.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
198,11,47189,23889,2012-02-22 00:00:00,68.0,68.0,right,medium,high,26.0,...,53.0,34.0,67.0,73.0,72.0,7.0,5.0,13.0,13.0,13.0
206,12,194958,231592,2016-02-04 00:00:00,75.0,78.0,right,medium,medium,74.0,...,81.0,73.0,56.0,65.0,62.0,11.0,8.0,12.0,11.0,12.0
234,13,213568,163222,2014-09-18 00:00:00,62.0,70.0,right,medium,high,48.0,...,31.0,74.0,59.0,61.0,54.0,8.0,11.0,6.0,6.0,7.0
242,14,183853,40719,2016-04-28 00:00:00,70.0,71.0,left,medium,medium,64.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
269,15,186561,75489,2016-03-10 00:00:00,82.0,85.0,right,high,high,75.0,...,81.0,75.0,62.0,74.0,68.0,6.0,11.0,5.0,10.0,8.0
309,16,226014,597948,2016-04-14 00:00:00,55.0,63.0,left,medium,medium,55.0,...,55.0,55.0,43.0,47.0,45.0,11.0,13.0,8.0,14.0,9.0
317,17,213569,161644,2016-04-28 00:00:00,64.0,68.0,left,high,medium,62.0,...,50.0,40.0,53.0,64.0,64.0,9.0,11.0,12.0,8.0,9.0
335,18,2335,23499,2016-04-21 00:00:00,65.0,65.0,right,medium,medium,49.0,...,68.0,73.0,23.0,20.0,19.0,12.0,13.0,10.0,10.0,9.0
357,19,187939,120919,2016-05-12 00:00:00,75.0,75.0,right,high,medium,70.0,...,70.0,85.0,26.0,27.0,24.0,7.0,10.0,8.0,15.0,10.0
378,20,192274,167027,2016-06-23 00:00:00,74.0,75.0,right,medium,medium,74.0,...,74.0,71.0,35.0,42.0,33.0,11.0,7.0,6.0,16.0,7.0
394,21,188145,128456,2016-03-17 00:00:00,73.0,75.0,left,medium,medium,65.0,...,52.0,32.0,75.0,76.0,77.0,9.0,11.0,10.0,8.0,9.0
415,22,178063,42664,2016-02-04 00:00:00,67.0,67.0,right,medium,medium,65.0,...,50.0,68.0,29.0,32.0,31.0,10.0,6.0,11.0,6.0,7.0
441,23,212934,425950,2014-07-18 00:00:00,59.0,69.0,right,medium,medium,49.0,...,46.0,58.0,36.0,32.0,30.0,7.0,14.0,14.0,13.0,14.0
456,24,209399,467485,2016-02-04 00:00:00,63.0,72.0,left,medium,medium,42.0,...,64.0,46.0,32.0,33.0,40.0,8.0,13.0,8.0,15.0,8.0
459,25,210504,306735,2014-03-21 00:00:00,56.0,62.0,right,high,medium,54.0,...,55.0,45.0,56.0,61.0,53.0,10.0,7.0,8.0,11.0,10.0
465,26,149241,41659,2015-09-25 00:00:00,63.0,63.0,right,medium,medium,57.0,...,67.0,57.0,47.0,39.0,37.0,8.0,15.0,16.0,9.0,11.0
490,27,225711,563215,2016-04-28 00:00:00,66.0,77.0,left,medium,medium,42.0,...,33.0,41.0,67.0,73.0,70.0,12.0,7.0,7.0,7.0,8.0
500,28,187048,41093,2016-04-21 00:00:00,70.0,70.0,right,medium,medium,62.0,...,72.0,48.0,63.0,64.0,61.0,8.0,14.0,15.0,11.0,9.0
525,29,225050,564712,2016-03-10 00:00:00,64.0,70.0,right,medium,medium,35.0,...,31.0,47.0,65.0,71.0,66.0,9.0,11.0,13.0,12.0,15.0
532,30,188232,67334,2016-01-21 00:00:00,72.0,73.0,left,medium,medium,67.0,...,64.0,53.0,42.0,47.0,43.0,12.0,15.0,14.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183539,10386,193482,164093,2015-10-30 00:00:00,70.0,70.0,right,None,0,66.0,...,65.0,69.0,29.0,38.0,39.0,12.0,12.0,9.0,16.0,8.0
183551,10387,190228,175259,2015-12-03 00:00:00,69.0,76.0,left,medium,medium,67.0,...,69.0,64.0,39.0,32.0,26.0,8.0,9.0,8.0,10.0,10.0
183561,10388,212639,244155,2013-03-28 00:00:00,69.0,82.0,right,medium,high,53.0,...,69.0,64.0,68.0,70.0,67.0,14.0,12.0,5.0,14.0,6.0
183564,10389,158293,19696,2015-09-21 00:00:00,70.0,70.0,right,high,high,70.0,...,78.0,68.0,69.0,67.0,60.0,13.0,16.0,6.0,10.0,14.0
183571,10390,206209,290868,2016-04-21 00:00:00,67.0,71.0,right,medium,medium,67.0,...,60.0,47.0,67.0,66.0,68.0,11.0,8.0,10.0,16.0,13.0
183589,10391,207780,169594,2016-02-11 00:00:00,65.0,66.0,left,high,medium,61.0,...,39.0,47.0,66.0,67.0,66.0,13.0,9.0,11.0,12.0,14.0
183607,10392,223263,244953,2016-05-05 00:00:00,64.0,69.0,right,medium,medium,59.0,...,39.0,42.0,63.0,66.0,65.0,6.0,11.0,15.0,10.0,9.0
183617,10393,195862,200607,2013-07-05 00:00:00,64.0,72.0,right,medium,low,61.0,...,49.0,52.0,24.0,21.0,23.0,10.0,7.0,7.0,12.0,14.0
183625,10394,228821,642618,2016-04-21 00:00:00,67.0,79.0,right,high,high,69.0,...,66.0,55.0,52.0,60.0,62.0,13.0,8.0,11.0,11.0,9.0
183634,10395,204227,277772,2016-04-28 00:00:00,67.0,73.0,left,medium,low,53.0,...,54.0,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0
183649,10396,202751,246332,2015-07-03 00:00:00,64.0,73.0,right,high,low,67.0,...,59.0,60.0,21.0,25.0,25.0,13.0,11.0,15.0,7.0,14.0
183660,10397,222537,532766,2015-02-20 00:00:00,63.0,75.0,right,medium,medium,41.0,...,65.0,53.0,54.0,55.0,39.0,12.0,5.0,7.0,11.0,8.0
183665,10398,31667,27305,2011-02-22 00:00:00,72.0,78.0,right,stoc,tocky,72.0,...,70.0,69.0,69.0,74.0,74.0,9.0,5.0,14.0,5.0,15.0
183672,10399,41236,35724,2015-09-21 00:00:00,89.0,89.0,right,medium,low,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
183693,10400,176103,12574,2016-02-04 00:00:00,72.0,72.0,right,high,medium,70.0,...,72.0,59.0,32.0,49.0,54.0,6.0,16.0,16.0,6.0,8.0
183713,10401,141111,39494,2016-04-14 00:00:00,67.0,67.0,right,None,7,59.0,...,63.0,70.0,29.0,32.0,30.0,16.0,15.0,9.0,16.0,9.0
183737,10402,188405,17233,2016-05-05 00:00:00,65.0,65.0,right,medium,low,67.0,...,60.0,76.0,19.0,26.0,18.0,11.0,14.0,11.0,7.0,16.0
183750,10403,173474,42860,2016-04-28 00:00:00,78.0,78.0,right,high,high,86.0,...,76.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
183789,10404,158142,37128,2014-03-14 00:00:00,67.0,67.0,left,medium,medium,67.0,...,65.0,67.0,31.0,32.0,31.0,11.0,11.0,13.0,5.0,10.0
183796,10405,137089,24737,2015-10-09 00:00:00,74.0,74.0,right,medium,high,82.0,...,75.0,74.0,36.0,49.0,69.0,14.0,12.0,12.0,7.0,9.0
183822,10406,179712,107281,2016-01-21 00:00:00,73.0,74.0,left,medium,medium,69.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
183849,10407,157283,39801,2015-03-20 00:00:00,65.0,65.0,right,medium,medium,59.0,...,48.0,51.0,68.0,66.0,63.0,13.0,13.0,6.0,13.0,12.0
183856,10408,219943,491794,2015-11-12 00:00:00,58.0,71.0,right,medium,medium,28.0,...,36.0,54.0,50.0,49.0,48.0,5.0,10.0,8.0,9.0,14.0
183867,10409,188593,56929,2012-08-31 00:00:00,66.0,72.0,left,low,medium,37.0,...,38.0,47.0,66.0,69.0,61.0,13.0,14.0,8.0,8.0,14.0
183872,10410,105454,99031,2016-05-05 00:00:00,79.0,79.0,left,high,medium,70.0,...,75.0,67.0,33.0,45.0,36.0,7.0,13.0,15.0,8.0,13.0
183895,10411,195840,192132,2016-01-21 00:00:00,64.0,64.0,left,medium,medium,65.0,...,35.0,76.0,39.0,26.0,24.0,16.0,10.0,12.0,8.0,8.0
183903,10412,205705,282473,2016-02-04 00:00:00,75.0,76.0,left,medium,medium,57.0,...,47.0,48.0,78.0,79.0,71.0,13.0,14.0,12.0,10.0,8.0
183924,10413,2488,26357,2015-03-06 00:00:00,73.0,73.0,right,low,medium,42.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0
183937,10414,164680,111182,2014-09-18 00:00:00,63.0,67.0,left,high,medium,65.0,...,49.0,53.0,57.0,61.0,61.0,9.0,8.0,5.0,5.0,8.0
183968,10415,102359,39902,2012-08-31 00:00:00,78.0,78.0,right,medium,low,77.0,...,82.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0

In [17]:
pd.set_option('display.max_rows', 800)
pd.set_option('display.max_columns', 116)

### Cleaning the Home Players X1 to X11 Coordinates (1/2)
Getting the missing X1 to X11 values from the complete records of the home teams in the table

In [64]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['home_player_X'+str(m)])
        home_player_X_rows = match_df[match_df['home_player_X'+str(m)].isnull()]
        if n < 10:
            home_player_X_rows = home_player_X_rows[home_player_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_X_rows = home_player_X_rows[home_player_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_X_rows = home_player_X_rows.reset_index()

        for i in range(0, home_player_X_rows.shape[0]):
            return_rows = home_players_df[home_players_df['home_team_api_id'] == home_player_X_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                X_Player = return_rows['home_player_X'+str(m)].head(1)
                null_X_rows = match_df[(match_df['home_team_api_id'] == home_player_X_rows['home_team_api_id'][i])]
                null_X_rows = null_X_rows[null_X_rows['home_player_X'+str(m)].isnull()]
                
                if n < 10:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_X_rows.shape[0]):
                    indices.append(null_X_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_X'+str(m)] = int(X_Player[X_Player.index[0]])

### Cleaning the Home Players X1 to X11 Coordinates (2/2)
Getting the missing X1 to X11 values from the complete records of the away teams in the table

In [65]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['away_player_X'+str(m)])
        home_player_X_rows = match_df[match_df['home_player_X'+str(m)].isnull()]
        if n < 10:
            home_player_X_rows = home_player_X_rows[home_player_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_X_rows = home_player_X_rows[home_player_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_X_rows = home_player_X_rows.reset_index()

        for i in range(0, home_player_X_rows.shape[0]):
            return_rows = home_players_df[home_players_df['away_team_api_id'] == home_player_X_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                X_Player = return_rows['away_player_X'+str(m)].head(1)
                null_X_rows = match_df[(match_df['away_team_api_id'] == home_player_X_rows['home_team_api_id'][i])]
                null_X_rows = null_X_rows[null_X_rows['home_player_X'+str(m)].isnull()]
                
                if n < 10:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_X_rows.shape[0]):
                    indices.append(null_X_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_X'+str(m)] = int(X_Player[X_Player.index[0]])

### Cleaning the Home Players Y1 to Y11 Coordinates (1/2)
Getting the missing Y1 to Y11 values from the complete records of the home teams in the table

In [66]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['home_player_Y'+str(m)])
        home_player_Y_rows = match_df[match_df['home_player_Y'+str(m)].isnull()]
        if n < 10:
            home_player_Y_rows = home_player_Y_rows[home_player_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_Y_rows = home_player_Y_rows[home_player_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_Y_rows = home_player_Y_rows.reset_index()

        for i in range(0, home_player_Y_rows.shape[0]):
            return_rows = home_players_df[home_players_df['home_team_api_id'] == home_player_Y_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                Y_Player = return_rows['home_player_Y'+str(m)].head(1)
                null_Y_rows = match_df[(match_df['home_team_api_id'] == home_player_Y_rows['home_team_api_id'][i])]
                null_Y_rows = null_Y_rows[null_Y_rows['home_player_Y'+str(m)].isnull()]
                
                if n < 10:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_Y_rows.shape[0]):
                    indices.append(null_Y_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_Y'+str(m)] = int(Y_Player[Y_Player.index[0]])

### Cleaning the Home Players Y1 to Y11 Coordinates (2/2)
Getting the missing Y1 to Y11 values from the complete records of the away teams in the table

In [67]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['away_player_Y'+str(m)])
        home_player_Y_rows = match_df[match_df['home_player_Y'+str(m)].isnull()]
        if n < 10:
            home_player_Y_rows = home_player_Y_rows[home_player_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_Y_rows = home_player_Y_rows[home_player_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_Y_rows = home_player_Y_rows.reset_index()

        for i in range(0, home_player_Y_rows.shape[0]):
            return_rows = home_players_df[home_players_df['away_team_api_id'] == home_player_Y_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                Y_Player = return_rows['away_player_Y'+str(m)].head(1)
                null_Y_rows = match_df[(match_df['away_team_api_id'] == home_player_Y_rows['home_team_api_id'][i])]
                null_Y_rows = null_Y_rows[null_Y_rows['home_player_Y'+str(m)].isnull()]
                
                if n < 10:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_Y_rows.shape[0]):
                    indices.append(null_Y_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_Y'+str(m)] = int(Y_Player[Y_Player.index[0]])

### Cleaning the Away Players X1 to X11 Coordinates (1/2)
Getting the missing X1 to X11 values from the complete records of the away teams in the table

In [68]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['away_player_X'+str(m)])

        away_player_X_rows = match_df[match_df['away_player_X'+str(m)].isnull()]
        if n < 10:
            away_player_X_rows = away_player_X_rows[away_player_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_X_rows = away_player_X_rows[away_player_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_X_rows = away_player_X_rows.reset_index()

        for i in range(0, away_player_X_rows.shape[0]):
            return_rows = away_players_df[away_players_df['away_team_api_id'] == away_player_X_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                X_Player = return_rows['away_player_X'+str(m)].head(1)
                null_X_rows = match_df[(match_df['away_team_api_id'] == away_player_X_rows['away_team_api_id'][i])]
                null_X_rows = null_X_rows[null_X_rows['away_player_X'+str(m)].isnull()]
                
                if n < 10:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_X_rows.shape[0]):
                    indices.append(null_X_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_X'+str(m)] = int(X_Player[X_Player.index[0]])

### Cleaning the Away Players X1 to X11 Coordinates (2/2)
Getting the missing X1 to X11 values from the complete records of the home teams in the table

In [69]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['home_player_X'+str(m)])
        away_player_X_rows = match_df[match_df['away_player_X'+str(m)].isnull()]
        if n < 10:
            away_player_X_rows = away_player_X_rows[away_player_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_X_rows = away_player_X_rows[away_player_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_X_rows = away_player_X_rows.reset_index()

        for i in range(0, away_player_X_rows.shape[0]):
            return_rows = away_players_df[away_players_df['home_team_api_id'] == away_player_X_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                X_Player = return_rows['home_player_X'+str(m)].head(1)
                null_X_rows = match_df[(match_df['home_team_api_id'] == away_player_X_rows['away_team_api_id'][i])]
                null_X_rows = null_X_rows[null_X_rows['away_player_X'+str(m)].isnull()]
                
                if n < 10:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_X_rows = null_X_rows[null_X_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_X_rows.shape[0]):
                    indices.append(null_X_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_X'+str(m)] = int(X_Player[X_Player.index[0]])

### Cleaning the Away Players Y1 to Y11 Coordinates (1/2)
Getting the missing Y1 to Y11 values from the complete records of the away teams in the table

In [70]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['away_player_Y'+str(m)])

        away_player_Y_rows = match_df[match_df['away_player_Y'+str(m)].isnull()]
        if n < 10:
            away_player_Y_rows = away_player_Y_rows[away_player_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_Y_rows = away_player_Y_rows[away_player_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_Y_rows = away_player_Y_rows.reset_index()

        for i in range(0, away_player_Y_rows.shape[0]):
            return_rows = away_players_df[away_players_df['away_team_api_id'] == away_player_Y_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                Y_Player = return_rows['away_player_Y'+str(m)].head(1)
                null_Y_rows = match_df[(match_df['away_team_api_id'] == away_player_Y_rows['away_team_api_id'][i])]
                null_Y_rows = null_Y_rows[null_Y_rows['away_player_Y'+str(m)].isnull()]
                
                if n < 10:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_Y_rows.shape[0]):
                    indices.append(null_Y_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_Y'+str(m)] = int(Y_Player[Y_Player.index[0]])

### Cleaning the Away Players Y1 to Y11 Coordinates (2/2)
Getting the missing Y1 to Y11 values from the complete records of the home teams in the table

In [71]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['home_player_Y'+str(m)])
        away_player_Y_rows = match_df[match_df['away_player_Y'+str(m)].isnull()]
        if n < 10:
            away_player_Y_rows = away_player_Y_rows[away_player_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_Y_rows = away_player_Y_rows[away_player_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_Y_rows = away_player_Y_rows.reset_index()

        for i in range(0, away_player_Y_rows.shape[0]):
            return_rows = away_players_df[away_players_df['home_team_api_id'] == away_player_Y_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                Y_Player = return_rows['home_player_Y'+str(m)].head(1)
                null_Y_rows = match_df[(match_df['home_team_api_id'] == away_player_Y_rows['away_team_api_id'][i])]
                null_Y_rows = null_Y_rows[null_Y_rows['away_player_Y'+str(m)].isnull()]
                
                if n < 10:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_Y_rows = null_Y_rows[null_Y_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_Y_rows.shape[0]):
                    indices.append(null_Y_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_Y'+str(m)] = int(Y_Player[Y_Player.index[0]])

### Cleaning the Home Players Columns (1/2)
Getting the missing home player 1 to 11 values from the complete records of the home teams in the table

In [72]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['home_player_'+str(m)])

        home_player_rows = match_df[match_df['home_player_'+str(m)].isnull()]
        if n < 10:
            home_player_rows = home_player_rows[home_player_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_rows = home_player_rows[home_player_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_rows = home_player_rows.reset_index()

        for i in range(0, home_player_rows.shape[0]):
            return_rows = home_players_df[home_players_df['home_team_api_id'] == home_player_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                Player = return_rows['home_player_'+str(m)].head(1)
                null_rows = match_df[(match_df['home_team_api_id'] == home_player_rows['home_team_api_id'][i])]
                null_rows = null_rows[null_rows['home_player_'+str(m)].isnull()]
                
                if n < 10:
                    null_rows = null_rows[null_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_rows = null_rows[null_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_rows.shape[0]):
                    indices.append(null_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_'+str(m)] = int(Player[Player.index[0]])

### Cleaning the Home Players Columns (2/2)
Getting the missing home player 1 to 11 values from the complete records of the away teams in the table

In [73]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            home_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            home_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        home_players_df = home_players_df.dropna(subset = ['away_player_'+str(m)])

        home_player_rows = match_df[match_df['home_player_'+str(m)].isnull()]
        if n < 10:
            home_player_rows = home_player_rows[home_player_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            home_player_rows = home_player_rows[home_player_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        home_player_rows = home_player_rows.reset_index()

        for i in range(0, home_player_rows.shape[0]):
            return_rows = home_players_df[home_players_df['away_team_api_id'] == home_player_rows['home_team_api_id'][i]]
            
            if return_rows.size != 0:
                Player = return_rows['away_player_'+str(m)].head(1)
                null_rows = match_df[(match_df['away_team_api_id'] == home_player_rows['home_team_api_id'][i])]
                null_rows = null_rows[null_rows['home_player_'+str(m)].isnull()]
                
                if n < 10:
                    null_rows = null_rows[null_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_rows = null_rows[null_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_rows.shape[0]):
                    indices.append(null_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'home_player_'+str(m)] = int(Player[Player.index[0]])

### Cleaning the Away Players Columns (1/2)
Getting the missing away player 1 to 11 values from the complete records of the away teams in the table

In [74]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['away_player_'+str(m)])

        away_player_rows = match_df[match_df['away_player_'+str(m)].isnull()]
        if n < 10:
            away_player_rows = away_player_rows[away_player_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_rows = away_player_rows[away_player_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_rows = away_player_rows.reset_index()

        for i in range(0, away_player_rows.shape[0]):
            return_rows = away_players_df[away_players_df['away_team_api_id'] == away_player_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                Player = return_rows['away_player_'+str(m)].head(1)
                null_rows = match_df[(match_df['away_team_api_id'] == away_player_rows['away_team_api_id'][i])]
                null_rows = null_rows[null_rows['away_player_'+str(m)].isnull()]
                
                if n < 10:
                    null_rows = null_rows[null_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_rows = null_rows[null_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_rows.shape[0]):
                    indices.append(null_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_'+str(m)] = int(Player[Player.index[0]])

### Cleaning the Away Players Columns (2/2)
Getting the missing away player 1 to 11 values from the complete records of the home teams in the table

In [75]:
for n in range(8,16):
    for m in range(1,12):
        if n < 10:
            away_players_df = match_df[(match_df['season'] == '200'+str(n)+'/'+'200'+str(n+1))]
        else:
            away_players_df = match_df[(match_df['season'] == '20'+str(n)+'/'+'20'+str(n+1))]
        
        away_players_df = away_players_df.dropna(subset = ['home_player_'+str(m)])

        away_player_rows = match_df[match_df['away_player_'+str(m)].isnull()]
        if n < 10:
            away_player_rows = away_player_rows[away_player_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
        else:
            away_player_rows = away_player_rows[away_player_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
        
        away_player_rows = away_player_rows.reset_index()

        for i in range(0, away_player_rows.shape[0]):
            return_rows = away_players_df[away_players_df['home_team_api_id'] == away_player_rows['away_team_api_id'][i]]
            
            if return_rows.size != 0:
                Player = return_rows['home_player_'+str(m)].head(1)
                null_rows = match_df[(match_df['home_team_api_id'] == away_player_rows['away_team_api_id'][i])]
                null_rows = null_rows[null_rows['away_player_'+str(m)].isnull()]
                
                if n < 10:
                    null_rows = null_rows[null_rows['season'] == '200'+str(n)+'/'+'200'+str(n+1)]
                else:
                    null_rows = null_rows[null_rows['season'] == '20'+str(n)+'/'+'20'+str(n+1)]
                    
                indices = []
                for j in range(0, null_rows.shape[0]):
                    indices.append(null_rows.index[j])
                for k in range(0, len(indices)):
                    index = match_df.index[indices[k]]
                    match_df.at[index, 'away_player_'+str(m)] = int(Player[Player.index[0]])

In [76]:
match_df.isnull().sum()

Match_id                0
Country_Name            0
League_Name             0
season                  0
stage                   0
date                    0
match_api_id            0
home_team_api_id        0
away_team_api_id        0
home_team_goal          0
away_team_goal          0
home_player_X1       1200
home_player_X2       1200
home_player_X3       1200
home_player_X4       1200
home_player_X5       1200
home_player_X6       1200
home_player_X7       1200
home_player_X8       1200
home_player_X9       1200
home_player_X10      1200
home_player_X11      1200
away_player_X1       1200
away_player_X2       1200
away_player_X3       1200
away_player_X4       1200
away_player_X5       1200
away_player_X6       1200
away_player_X7       1200
away_player_X8       1200
away_player_X9       1200
away_player_X10      1200
away_player_X11      1200
home_player_Y1       1200
home_player_Y2       1200
home_player_Y3       1200
home_player_Y4       1200
home_player_Y5       1200
home_player_Y6       1200
home_player_Y7       1200
home_player_Y8       1200
home_player_Y9       1200
home_player_Y10      1200
home_player_Y11      1200
away_player_Y1       1200
away_player_Y2       1200
away_player_Y3       1200
away_player_Y4       1200
away_player_Y5       1200
away_player_Y6       1200
away_player_Y7       1200
away_player_Y8       1200
away_player_Y9       1200
away_player_Y10      1200
away_player_Y11      1200
home_player_1         318
home_player_2         319
home_player_3         224
home_player_4         207
home_player_5         276
home_player_6         256
home_player_7         137
home_player_8         164
home_player_9         151
home_player_10        216
home_player_11        280
away_player_1         338
away_player_2         272
away_player_3         196
away_player_4         212
away_player_5         238
away_player_6         199
away_player_7         137
away_player_8         182
away_player_9         175
away_player_10        228
away_player_11        279
goal                11762
shoton              11762
shotoff             11762
foulcommit          11762
card                11762
cross               11762
corner              11762
possession          11762
B365H                3387
B365D                3387
B365A                3387
BWH                  3404
BWD                  3404
BWA                  3404
IWH                  3459
IWD                  3459
IWA                  3459
LBH                  3423
LBD                  3423
LBA                  3423
PSH                 14811
PSD                 14811
PSA                 14811
WHH                  3408
WHD                  3408
WHA                  3408
SJH                  8882
SJD                  8882
SJA                  8882
VCH                  3411
VCD                  3411
VCA                  3411
GBH                 11817
GBD                 11817
GBA                 11817
BSH                 11818
BSD                 11818
BSA                 11818
dtype: int64

### Dropping the Null Values From Matche Dataframe

In [88]:
match_df.drop(['goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D',
               'B365A', 'BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA','PSH', 'PSD', 'PSA','WHH', 'WHD', 'WHA',
               'SJH', 'SJD','SJA', 'VCH','VCD','VCA','GBH','GBD','GBA','BSH','BSD','BSA'], axis=1, inplace=True)

KeyError: "['goal' 'shoton' 'shotoff' 'foulcommit' 'card' 'cross' 'corner'\n 'possession' 'B365H' 'B365D' 'B365A' 'BWH' 'BWD' 'BWA' 'IWH' 'IWD' 'IWA'\n 'LBH' 'LBD' 'LBA' 'PSH' 'PSD' 'PSA' 'WHH' 'WHD' 'WHA' 'SJH' 'SJD' 'SJA'\n 'VCH' 'VCD' 'VCA' 'GBH' 'GBD' 'GBA' 'BSH' 'BSD' 'BSA'] not found in axis"

In [84]:
match_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [90]:
match_df.isnull().sum()

Match_id            0
Country_Name        0
League_Name         0
season              0
stage               0
date                0
match_api_id        0
home_team_api_id    0
away_team_api_id    0
home_team_goal      0
away_team_goal      0
home_player_X1      0
home_player_X2      0
home_player_X3      0
home_player_X4      0
home_player_X5      0
home_player_X6      0
home_player_X7      0
home_player_X8      0
home_player_X9      0
home_player_X10     0
home_player_X11     0
away_player_X1      0
away_player_X2      0
away_player_X3      0
away_player_X4      0
away_player_X5      0
away_player_X6      0
away_player_X7      0
away_player_X8      0
away_player_X9      0
away_player_X10     0
away_player_X11     0
home_player_Y1      0
home_player_Y2      0
home_player_Y3      0
home_player_Y4      0
home_player_Y5      0
home_player_Y6      0
home_player_Y7      0
home_player_Y8      0
home_player_Y9      0
home_player_Y10     0
home_player_Y11     0
away_player_Y1      0
away_player_Y2      0
away_player_Y3      0
away_player_Y4      0
away_player_Y5      0
away_player_Y6      0
away_player_Y7      0
away_player_Y8      0
away_player_Y9      0
away_player_Y10     0
away_player_Y11     0
home_player_1       0
home_player_2       0
home_player_3       0
home_player_4       0
home_player_5       0
home_player_6       0
home_player_7       0
home_player_8       0
home_player_9       0
home_player_10      0
home_player_11      0
away_player_1       0
away_player_2       0
away_player_3       0
away_player_4       0
away_player_5       0
away_player_6       0
away_player_7       0
away_player_8       0
away_player_9       0
away_player_10      0
away_player_11      0
dtype: int64

### Cleaning the Team Dataframe

In [ ]:
missing_values_count_team = team_df.isnull().sum()
print(missing_values_count_team)

In [ ]:
team_api_id_1=team_df[['team_api_id','team_fifa_api_id']]
team_api_id_2=teamAttributes_df[['team_api_id','team_fifa_api_id']]
team_api_id_2.drop_duplicates(subset ="team_fifa_api_id", keep = "last", inplace = True)
missing_api_1=team_api_id_1[team_api_id_1["team_fifa_api_id"].isnull()]
found_api_2= team_api_id_2.loc[team_api_id_2['team_api_id'].isin(missing_api_1)]
found_api_2

In [ ]:
team_df.dropna(inplace=True)
missing_values_count_team = team_df.isnull().sum()
print(missing_values_count_team)

In [ ]:
duplicateRowsTeamDF = team_df[team_df.duplicated(['team_long_name'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_long_name: ' + str(duplicateNumber))

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_api_id: ' + str(duplicateNumber))

In [ ]:
duplicate_rows_df= team_df[team_df.duplicated(['team_fifa_api_id', 'team_long_name'], keep=False)]
display(duplicate_rows_df)
target_team_api_id=duplicate_rows_df['team_fifa_api_id'].tolist()
teamAttributes_subset=teamAttributes_df.loc[teamAttributes_df['team_fifa_api_id'].isin(target_team_api_id)]
display(teamAttributes_subset.sort_values(['team_fifa_api_id','team_api_id']))

In [ ]:
team_df=team_df.sort_values(['team_fifa_api_id','team_api_id'])
team_df.drop_duplicates(subset =['team_fifa_api_id', 'team_long_name'], keep = 'last', inplace = True)

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_long_name'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_long_name: ' + str(duplicateNumber))

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

In [ ]:
duplicateRowsTeamDF = team_df[team_df.duplicated(['team_long_name'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_long_name: ' + str(duplicateNumber))

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

duplicateRowsTeamDF = team_df[team_df.duplicated(['team_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_api_id: ' + str(duplicateNumber))

print('The number of missing values in each column:')
team_df.dropna(inplace=True)
missing_values_count_team= team_df.isnull().sum()
print(missing_values_count_team)

In [ ]:
del team_df['id']
team_df.insert(0, 'team_id', range(1, len(team_df)+1))
team_df

### Cleaning The Team Attributes Dataframe

In [ ]:
duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_api_id: ' + str(duplicateNumber))

duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

In [ ]:
duplicated_api= teamAttributes_df[teamAttributes_df.duplicated(['team_api_id'], keep=False)]
duplicated_fifa_api= teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'], keep=False)]
differ= duplicated_fifa_api[~duplicated_fifa_api['team_api_id'].isin(duplicated_api['team_api_id'])]
differ

In [ ]:
teamAttributes_df=teamAttributes_df.sort_values(['team_fifa_api_id','team_api_id','date'])
teamAttributes_df.drop_duplicates(subset =['team_fifa_api_id', 'team_api_id'], keep = 'last', inplace = True)

duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_api_id: ' + str(duplicateNumber))

duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

In [ ]:
duplicated_fifa_api= teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'], keep=False)]
duplicated_fifa_api

In [ ]:
teamAttributes_df=teamAttributes_df.sort_values(['team_fifa_api_id','team_api_id','date'])
teamAttributes_df.drop_duplicates(subset =['team_fifa_api_id'], keep = 'last', inplace = True)

duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

In [ ]:
print('The number of missing values in each column:')
missing_values_count_team_attributes = teamAttributes_df.isnull().sum()
print(missing_values_count_team_attributes)

In [ ]:
subset=teamAttributes_df.loc[:,['buildUpPlayDribblingClass','buildUpPlayDribbling']]
display(subset[subset.isnull().any(axis=1)])
display(subset[subset.isnull().any(axis=1)].count())
display(subset.loc[subset['buildUpPlayDribblingClass'] == 'Little'])
subset_little= subset.loc[subset['buildUpPlayDribblingClass'] == 'Little']
subset_little.dropna(inplace=True)
little_mean=round(subset_little["buildUpPlayDribbling"].mean())
print('mean value that is supposed to be filled:', little_mean)
teamAttributes_df["buildUpPlayDribbling"].fillna(little_mean, inplace = True)

In [ ]:
duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_api_id: ' + str(duplicateNumber))

duplicateRowsTeamDF = teamAttributes_df[teamAttributes_df.duplicated(['team_fifa_api_id'])]
duplicateNumber = duplicateRowsTeamDF.shape[0]
print('The number of duplicated rows in team_fifa_api_id: ' + str(duplicateNumber))

print('The number of missing values in each column:')
missing_values_count_team_attributes = teamAttributes_df.isnull().sum()
print(missing_values_count_team_attributes)

teamAttributes_df

In [ ]:
del teamAttributes_df['id']
teamAttributes_df= teamAttributes_df.sort_values(['team_fifa_api_id'])
teamAttributes_df.insert(0, 'team_attributes_id', range(1, len(teamAttributes_df)+1))
teamAttributes_df

In [ ]:
teams1=team_df.loc[:,'team_fifa_api_id']
teams2=teamAttributes_df.loc[:,'team_fifa_api_id']
differ1= teams1[~teams1.isin(teams2)]
print('number of teams present in team_df and not present in teamAttributes_df= ', differ1.count())
differ2= teams2[~teams2.isin(teams1)]
print('number of teams present in teamAttributes_df and not present in team_df= ', differ2.count())